.row .col-xxl-2-4 {
  flex: 0 0 auto;
  width: 20%;
  max-width: 20%;
}
@media (max-width: 1399.98px) {
  .row .col-xxl-2-4 {
    width: 25%;
    max-width: 25%;
  }
}
@media (max-width: 1199.98px) {
  .row .col-xxl-2-4 {
    width: 33.3333%;
    max-width: 33.3333%;
  }
}
@media (max-width: 991.98px) {
  .row .col-xxl-2-4 {
    width: 50%;
    max-width: 50%;
  }
}
@media (max-width: 767.98px) {
  .row .col-xxl-2-4 {
    width: 100%;
    max-width: 100%;
  }
}
